@import "fonts.css";

.page-header.navbar .hor-menu .navbar-nav>li.active>a, .page-header.navbar .hor-menu .navbar-nav>li.current>a {
    color: #2F353B;
    background: #F3C200!important;
}

.page-header.navbar .hor-menu .navbar-nav>li.active .selected, .page-header.navbar .hor-menu .navbar-nav>li.current .selected {
    border-top: 6px solid #F7CA18;
}

.page-container-bg-solid .page-bar .page-breadcrumb>li>i.fa-circle, .page-content-white .page-bar .page-breadcrumb>li>i.fa-circle {
    top: -2px;
}

.margin-right-5 { margin-right: 5px !important; }
.label-success { background-color: #26C281 !important; }