.page-bar .page-breadcrumb>li>a, .page-bar .page-breadcrumb>li>span,
.page-footer,
body,
.page-header.navbar .hor-menu .navbar-nav>li>a,
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>.username,
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-menu>li>a,
.page-header.navbar .hor-menu .navbar-nav>li .dropdown-menu li>a,
.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a,
.table thead tr th,
.table td, .table th,
.form-control,
.dropdown-menu,
.label,
.portlet>.portlet-title>.actions>.btn, .portlet>.portlet-title>.actions>.btn-group>.btn, .portlet>.portlet-title>.actions>.btn-group>.btn.btn-sm, .portlet>.portlet-title>.actions>.btn.btn-sm {
    font-size: 11px;
}

.portlet.light>.portlet-title>.caption>.caption-subject {
    font-size: 14px;
}