{% extends ':FrontBundle:frontend.html.twig' %}
{% block body %}
    homepage

    <ul>
        <li><a href="{{ path('app_dashboard') }}">Dashboard</a></li>
        <li><a href="{{ path('api_welcome') }}">API</a></li>
    </ul>
{% endblock %}