{% extends ':AppBundle:application.html.twig' %}

{% block breadcrumbs %}
    <li>Administration<i class="fa fa-circle"></i></li>
    <li><a href="{{ path('app_administration_users') }}">Users</a><i class="fa fa-circle"></i></li>
    <li>Create</li>
{% endblock %}

{% block body %}
    <div class="row margin-top-30">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-social-dribbble font-green hide"></i>
                        <span class="caption-subject font-dark bold uppercase">Users Administration</span>
                    </div>
                </div>
                <div class="portlet-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
{% endblock %}