{% extends ':AppBundle:application.html.twig' %}

{% block breadcrumbs %}
    <li>Administration<i class="fa fa-circle"></i></li>
    <li>Users</li>
{% endblock %}

{% block body %}
    <div class="row margin-top-30">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-social-dribbble font-green hide"></i>
                        <span class="caption-subject font-dark bold uppercase">Users Administration</span>
                    </div>
                    <div class="actions">
                        <a href="{{ path('app_administration_users_creation') }}" class="btn btn-success btn-sm">
                            <i class="fa fa-plus margin-right-5"></i> New User
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <table data-toggle="table" data-show-columns="true" data-search="true">
                        <thead>
                            <tr>
                                <th data-field="fullName">Full Name</th>
                                <th data-field="email">Email</th>
                                <th data-field="lastLogin">Last Login</th>
                                <th data-field="role">Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td>{{ user.fullName }}</td>
                                <td>{{ user.email }}</td>
                                <td>{% if user.lastLogin is not empty %}{{ user.lastLogin|date("Y-m-d H:i:s") }} - {{ user.lastLogin|time_ago_in_words }}{% else %}<i>never</i>{% endif %}</td>
                                <td>{{ user.roles|role|raw }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}

{% block styles %}<link href="{{ asset('assets/vendor/bootstrap-table/dist/bootstrap-table.min.css') }}" rel="stylesheet" type="text/css" />{% endblock %}
{% block js_plugins %}<script src="{{ asset('assets/vendor/bootstrap-table/dist/bootstrap-table.min.js') }}" type="text/javascript"></script>{% endblock %}
{% block scripts %}<script src="{{ asset('assets/application/pages/scripts/table-bootstrap.js') }}" type="text/javascript"></script>{% endblock %}