{% extends ':AppBundle:application.html.twig' %}

{% block breadcrumbs %}
    <li>Albums<i class="fa fa-circle"></i></li>
    <li>Details<i class="fa fa-circle"></i></li>
    <li>{{ album.name }}</li>
{% endblock %}

{% block body %}
<div class="row margin-top-30">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Album Details : {{ album.name }}</span>
                </div>
                <div class="actions">
                    <a href="{{ path('app_photo_albums_edit', { 'album' : album.slug }) }}" class="btn btn-primary btn-sm">
                        <i class="fa fa-edit margin-right-5"></i> Edit
                    </a>
                    <a href="{{ path('app_photo_albums') }}" class="btn btn-danger btn-sm">
                        <i class="fa fa-times margin-right-5"></i> Cancel
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                Details
            </div>
        </div>
    </div>
{% endblock %}