{% extends ':AppBundle:application.html.twig' %}

{% block breadcrumbs %}
    <li>Albums<i class="fa fa-circle"></i></li>
    <li>Edit<i class="fa fa-circle"></i></li>
    <li>{{ album.name }}</li>
{% endblock %}

{% block body %}
<div class="row margin-top-30">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Albums Edition Form</span>
                </div>
                <div class="actions">
                    <a href="{{ path('app_photo_albums_details', { 'album': album.slug }) }}" class="btn btn-danger btn-sm">
                        <i class="fa fa-times margin-right-5"></i> Cancel
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                {% include ':AppBundle/photos/albums:form.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}<link href="{{ asset('assets/vendor/iCheck/skins/all.css') }}" rel="stylesheet" type="text/css" />{% endblock %}
{% block js_plugins %}<script src="{{ asset('assets/vendor/iCheck/icheck.min.js') }}" type="text/javascript"></script>{% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
  $('input').iCheck({
    checkboxClass: 'icheckbox_minimal-green',
    radioClass: 'iradio_minimal-green',
    increaseArea: '20%'
  });
});
</script>
{% endblock %}