{{ form_start(form) }}
<div class="form-body">
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form.cover) }}
        {{ form_widget(form.cover) }}
    </div>

    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
    </div>

    <div class="form-group ">
        {{ form_widget(form.isPublic) }}
        {{ form_label(form.isPublic) }}
    </div>

    <div class="form-group last">
        {{ form_widget(form.isPublished) }}
        {{ form_label(form.isPublished) }}
    </div>

</div>
<div class="form-actions fluid">
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-sm green-jungle">Submit</button>
            <a href="{{ path('app_photo_albums') }}" class="btn btn-sm red-thunderbird">Cancel</a>
        </div>
    </div>
</div>
{{ form_end(form) }}