{% extends ':AppBundle:application.html.twig' %}

{% block breadcrumbs %}
    <li>Albums</li>
{% endblock %}

{% block body %}
<div class="row margin-top-30">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Albums</span>
                </div>
                <div class="actions">
                    <a href="{{ path('app_photo_albums_create') }}" class="btn btn-success btn-sm">
                        <i class="fa fa-plus margin-right-5"></i> New Album
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portfolio-content portfolio-2">
                    <div id="js-filters-mosaic" class="cbp-l-filters-button">
                        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item btn green btn-outline uppercase"> All
                            <div class="cbp-filter-counter"></div>
                        </div>
                        <div data-filter=".public" class="cbp-filter-item btn green btn-outline uppercase"> Public
                            <div class="cbp-filter-counter"></div>
                        </div>
                        <div data-filter=".private" class="cbp-filter-item btn green btn-outline uppercase"> Private
                            <div class="cbp-filter-counter"></div>
                        </div>
                        <div data-filter=".published" class="cbp-filter-item btn green btn-outline uppercase"> Published
                            <div class="cbp-filter-counter"></div>
                        </div>
                        <div data-filter=".draft" class="cbp-filter-item btn green btn-outline uppercase"> Draft
                            <div class="cbp-filter-counter"></div>
                        </div>
                    </div>
                    <div id="js-grid-mosaic" class="cbp cbp-l-grid-mosaic">
                        {% for album in albums %}
                        <div class="cbp-item web-design {{ album.slug }} {% if album.isPublic %}public{% else %}private{% endif %} {% if album.isPublished %}published{% else %}draft{% endif %}">
                            <a href="{{ path('app_photo_albums_details', {'album': album.slug}) }}" class="cbp-caption" data-title="{{ album.name }}">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="{{ asset('uploads/covers/' ~ album.cover ) }}" alt="">
                                    </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">{{ album.name }}</div>
                                            <div class="cbp-l-caption-desc">
                                                <span class="margin-right-5">
                                                    {% if album.isPublic %}<span class="label label-success"> Public </span>
                                                    {% else %}<span class="label label-danger"> Private </span>{% endif %}
                                                </span>

                                                <span>
                                                    {% if album.isPublished %}<span class="label label-success"> Published </span>
                                                    {% else %}<span class="label label-danger"> Draft </span>{% endif %}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}<link href="{{ asset('assets/application/global/plugins/cubeportfolio/css/cubeportfolio.css') }}" rel="stylesheet" type="text/css" />{% endblock %}
{% block styles_page %}<link href="{{ asset('assets/application/pages/css/portfolio.css') }}" rel="stylesheet" type="text/css" />{% endblock %}
{% block js_plugins %}<script src="{{ asset('assets/application/global/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js') }}" type="text/javascript"></script>{% endblock %}
{% block scripts %}<script src="{{ asset('assets/application/pages/scripts/portfolio-2.js') }}" type="text/javascript"></script>{% endblock %}